<div class="sidebar">
  <div class="logo">
    <img src="assets/logo.jpg" alt="PMS Logo" />
  </div>

  <a routerLink="/customer/booking-service" routerLinkActive="active">
    <h3>Booking Service</h3>
  </a>

  <a routerLink="/customer/list-parcel" routerLinkActive="active">
    <h3>All Parcel</h3>
  </a>

  <a (click)="openPayment()" routerLinkActive="active">
    <h3>Payment</h3>
  </a>

  <a routerLink="/customer/contact" routerLinkActive="active">
    <h3>Contact Support</h3>
  </a>
</div>
