<body>
    <br>
    <nav class="navbar">
        <div class="logo">
            <img src="assets/logo.jpg" alt="PMS">
            
        </div>

        <ul class="nav-links">
            
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Support</a></li>
            
        </ul>

        <a routerLink="/login" class="login-btn">Login</a>
    </nav>

    <section class="hero">
        <div class="hero-text">
            
            <h1>Streamline Your Shipping.<br>Effortlessly.</h1>
            <p>
                Manage all your parcels, track delivery, and automate
                your logistics with our intuitive platform.
            </p>
            <a href="#" class="cta-btn">Get Started Free</a>
        </div>

        <div class="hero-image">
            <img src="assets/removed.png" alt="PMS">
        </div>
    </section>

    <section class="features">
        <h2>Features</h2>

        <div class="feature-grid">
            <div class="feature-card">
                <img style="width: 100px;" src="assets/sheild.png" alt="PMS">
                <h3>Secure Tracking</h3>
                <p>Track your parcels safely with encrypted data.</p>
            </div>

            <div class="feature-card">
                <img style="width: 100px;" src="assets/notepad.png" alt="PMS">
                <h3>Inventory Management</h3>
                <p>Manage parcel inventory efficiently.</p>
            </div>

            <div class="feature-card">
                <img style="width: 100px;" src="assets/cloud.png" alt="PMS">
                <h3>Cloud-Based Platform</h3>
                <p>Access data anytime, anywhere.</p>
            </div>
        </div>
    </section>


</body>
<!-- <app-footer></app-footer> -->